body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E7E7E7;
  color:#3D3D3D;
  font-size: 14px;
}

.bar{
	height:30px;
	margin-top:5px;
	margin-bottom:5px;
	display: block;
	background-color: #f2ad24;
	border: solid 3px rgb(249, 136, 75);
}

.container{
	margin:0 auto;
	display: block;
	width:90%;
	background-color: #8dd6ba;
	padding: 5px 10px;
}
